body {
  font-family: "BrutalType-Regular";
}

.outer-container {
  display: flex;
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #3e098d;

  .inner-container {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
    background: #202020;
    color: white;

    .sidebar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
      background: #121212;
    }
  }
}
