.games-content-row {
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  padding-left: 150px;
  padding-right: 150px;
}

.game-card-div {
  margin-top: 25px;
  margin-right: 20px;
}

.game-card {
  display: flex;
  width: 186px;
  height: 286px;
  background: #121212;
}

.gameImageSize {
}
