@font-face {
  font-family: "BrutalType-Bold";
  src: url("/static/fonts/BrutalType-Bold.woff"), url("/static/fonts/BrutalType-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "BrutalType-Regular";
  src: url("/static/fonts/BrutalType-Regular.woff"), url("/static/fonts/BrutalType-Regular.ttf") format("truetype");
}
